footer {
  height: 12vh;
  padding: 0 200px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
}

.theme-icon {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  border-radius: 15px;
  border: 2px solid grey;
}

@media screen and (max-width: 1200px) {
  footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .theme-icon {
    height: 40px;
    width: 40px;
  }
}
