#filter-box {
  height: 10%;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

#filter {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

.filter-box-icons {
  height: 40px;
  width: 40px;
}

#filter span {
  font-size: large;
  font-weight: bold;
  margin: 0 5px;
}

#search {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}

#search-input {
  width: 85%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 0 5px;
  font-size: medium;
  font-weight: bold;
  color: #9b9999;
}

#filter-options {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.filter-radio-buttons {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
